{
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },

  "env": {
    "es6": true,
    "amd": true,
    "node": true
  },

  "parser": "babel-eslint"
}
